.dropdown-large {
    margin: 1rem 0;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    height: 47px;
    border-radius: 5px;
    margin: 0;
    padding-left: 1rem;
}

.dropdown-title h2 {
    font-size: 1.5rem;
    font-size: 18px;
    font-weight: 300;
}

.dropdown-title img {
    padding-right: 1rem;
}


.dropdown-text {
    display: flex;
    background-color: #F6F6F6;
    font-weight: 300;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    white-space: pre-line;
    flex: 1;
}
