.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .dropdown-large {
    width: 100%;
}

.about .dropdown-text {
    margin-bottom: 0;
}
