.flat-infos-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.flat-infos-content .dropdown-large {
    width: 50%;
}

@media (max-width: 599px) {
    .flat-infos-content {
        flex-direction: column;
        gap: 0rem;
    }

    .flat-infos-content .dropdown-large {
        width: 100%;
    }
}
