.heroImg {
    position: relative;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.heroImg img {
    object-fit: cover;
    width: 100%;
    height: 223px;
    border-radius: 25px;
}

.heroImg::before {
    content: "...";
    color: transparent;
    position: absolute;
    height: 223px;
    width: 93.4%;
    width: calc(100% - 127px);
    width: 100%;
    border-radius: 25px;
    background-color: #000000;
    opacity: 0.3;
} 

.textOption {
    position: absolute;
    top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    white-space: normal;

}

/**************************/
@media (max-width: 599px) {

    .heroImg {
        height: 110px;
        border-radius: 10px;
    }

    .heroImg img {
        height: 110px;
        border-radius: 10px;
    }

    .textOption {
        font-size: 24px;
        top: 1rem;
        white-space: pre-line;
        justify-content: flex-start;
        padding-left: 1rem;
        font-weight: 300;
    }
    
    .heroImg::before {
        height: 110px;
        border-radius: 10px;
    }
}
