footer  {
    height: 209px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 200;
    margin-left: 0;
    position: absolute;
}

footer img {
    height: 40px;
}
