
@import url("https://p.typekit.net/p.css?s=1&k=umb2cff&ht=tk&f=16353.37461.37466.37467.37478.37479.37484.37485&a=4243334&app=typekit&e=css");

* {
    margin: 0;
}
body {
    font-family: 'montserrat';
    color: #FF6060;
    height: 100%;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    margin-bottom: 0;
    min-height:100%;
    position: relative;
    padding-bottom: 209px;
}

.nav-active {
    text-decoration: underline #FF6060;
}

button {
    background-color: transparent;
    border: none;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

@media (max-width: 599px) {
    main {
        margin: 20px;
        margin-bottom: 0;
    }
}
