
@import url("https://p.typekit.net/p.css?s=1&k=umb2cff&ht=tk&f=16353.37461.37466.37467.37478.37479.37484.37485&a=4243334&app=typekit&e=css");

body {
    font-family: 'montserrat';
    color: #FF6060;
}

main {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.nav-active {
    text-decoration: underline #FF6060;
}
